<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEpR4Znn-OgXtsW0T8Vwiq2zuJv2n-rmw</string>
	<key>GCM_SENDER_ID</key>
	<string>67152466070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.gregorgott.vocabulaire</string>
	<key>PROJECT_ID</key>
	<string>vocabulaire-test</string>
	<key>STORAGE_BUCKET</key>
	<string>vocabulaire-test.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67152466070:ios:57f66a1b30abd2b4c8b2b7</string>
</dict>
</plist>